*{
    margin:0;
    padding: 0;
    font-family: Helvetica, sans-serif;
}

body,html{
    width: 100%;
}

body nav{
    background-image: linear-gradient(to top, white, rgb(75, 189, 255));
    padding-top: 1rem;
    width: 100%;
    display:flex;
    justify-content: center;
    position: fixed top;
           
}

body nav img{
    width: 30vw;
}

body section{
    display:flex;
    justify-content: center;
    align-items: center;
    background: url("../img/bg.png" );
    background-repeat: no-repeat;
    background-size: 100%; ;
    width: 100%;
    
}    

body section div#evolução{
    margin-top:2.5rem;
    margin-bottom: 5rem;    
}

body section div#evolução p{
    text-align: center;
    
}    

body section div#evolução p#digimon{
    font-size: 3vw;
    font-weight:bold;
    color: rgb(255, 179, 0);
}
     
body section div#evolução p#nível{
    font-size: 1vw;
    padding-bottom: 2rem;
}

body section div#evolução div{
    display: flex;
    justify-content: center;
}

body section div#evolução div img{
    width: 15vw;
    padding-bottom: 3rem;
    padding-left: 2rem;
    
}

body section div#evolução button{
    border: 3px solid #ffae00;
    background-color:  #184290;
    color: rgb(255, 255, 255);
    padding: 1rem;
    font-size: 1vw;
    font-weight: 600;
    border-radius: .8rem;
    display: block;
    margin: auto;
    cursor: pointer;
    transition: .6s ease-out;
    width: 60%;
    }
    body section div#evolução button:hover{
    background-color: rgb(255, 179, 0);
    color:  rgb(255, 255, 255);
    transform: scale(1.2);
}
